@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Oswald:wght@300;400;500;600;700&display=swap');

:root{
    --primary-color: #036897;
    --secondary-color:  #2B5527;
    --accent1-color: #BED927;
    --accent2-color:  #A77A4A;
    
    --heading-font: 'Courgette', sans-serif;
    --paragraph-font: 'Oswald', Helvetica, sans-serif;
    
    --nav-background-color:  #BED927;
    --nav-link-color: #036897;
    --nav-hover-link-color:    #2B5527;
    --nav-hover-background-color:   #A77A4A;
}

h1, h2, h3, h4, h5, h6{ 
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin: 20px;
    text-align: center;
}

p{
    font-family: var(--paragraph-font);

}

a{
    text-decoration: none;
}

*{
    max-width: 1000px;
}
header {
    background-color:hsla(116, 37%, 24%, 0.172);
}

h1{

    color:var(--primary-color);
    font-size: 3rem;
}

nav{
    display: flex;
    font-size: 1.5rem; 
    align-items: center;
    justify-content: space-evenly;
}


footer {
    padding-top:2rem ;
    background-color:hsla(116, 37%, 24%, 0.172);
    text-align: center;

}
footer div{    

    display: grid;
    grid-template-columns: 1fr 200px;

    text-align: center;
}

.sociallinks a {
    margin: 0;
    padding: 0;

}

section {
    border-top: 2px solid #2B5527;
    padding: 2rem;

}
.people {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.member{
    text-align: center;

}

.member img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.address {
    padding: 5rem 0;
    background-color: #a77a4a24;
    display: flex;
    justify-content: space-evenly
}

iframe {
    width: 250px;
    height: 250px;
}

.member{
    border: 2px solid var(--primary-color);
    border-radius: .7rem;
    width: 230px;

}
.member p {
    text-align: center;
    background-color: #2b552744;
    border-radius: .7rem;
}


form {
    max-width: 650px;
    margin: 0 7rem;
    display: grid;
}

label, input, button, textarea {
    font-family: 'Roboto', Arial, sans-serif;
}

label {
    text-align: left;
    margin-top: 1rem;
    padding-right: 1rem;
}
.radio {
    margin-top: 1rem;
    text-align: center;
}


input,textarea{
    margin-top: 0.5rem;
    padding: 0.5rem;
    font-size: .9rem;
    font-weight:lighter;
}

button {
    margin: 1.5rem auto;
    background-color:#036897;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    padding: .5rem 2rem;
    font-size: 1rem;
}

.form-item {
    display: grid;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.grid img {
    width: 200px;
}