@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Oswald:wght@300;400;500;600;700&display=swap');

:root{
    --primary-color: #036897;
    --secondary-color:  #2B5527;
    --accent1-color: #BED927;
    --accent2-color:  #A77A4A;
    
    --heading-font: 'Courgette', sans-serif;
    --paragraph-font: 'Oswald', Helvetica, sans-serif;
    
    --nav-background-color:  #BED927;
    --nav-link-color: #036897;
    --nav-hover-link-color:    #2B5527;
    --nav-hover-background-color:   #A77A4A;
}

h1, h2, h3, h4, h5, h6{ 
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin: 20px;
}

p{
    margin-left: 1rem;
    margin-top: 20px;
    font-family: var(--paragraph-font);
}

a{
    text-decoration: none;
}

*{
    max-width: 1000px;
}
.hero{
    position: relative;
    margin-top: 20px;
}
.hero div img{
    display: block;
    width: 100%;
    height: auto;
}

h1{
    position: absolute;
    top: 60px; 
    left: 140px;
    color: white;
    font-size: 4rem;
}
article{
    position: absolute;
    top: 220px;
    background-color: rgb(166, 121, 74, 0.7);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 1.3rem;
    color: aliceblue;
}
article img{
    float: right;
    margin: 20px;
}
nav{
    font-size: 1.2rem; 
    margin-left: 20px;
}
article h2{
    margin-left: 20px;
    color: white;
    font-size: 2rem;
}
img{
    margin-left: 20px;
}
