@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dosis:wght@300&display=swap');

:root{
    --primary-color: #036897;
    --secondary-color:  #2B5527;
    --accent1-color: #BED927;
    --accent2-color:  #A77A4A;
    
    --heading-font: 'Black Han Sans', sans-serif;
    --paragraph-font: 'Dosis', Helvetica, sans-serif;

    --nav-background-color:  #A77A4A;
    --nav-link-color: #2B5527;
    --nav-hover-link-color:    #036897;
    --nav-hover-background-color:   #BED927;
}

h1, h2, h3, h4, h5, h6{ 
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin: 20px;
    text-align: center;
}

p{
    margin: 1rem;
    font-family: var(--paragraph-font);
    font-weight: bold;
}
.people p{
    margin: 1rem 0;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: var(--nav-hover-link-color);
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: #2B5527;
    background-color: var(--nav-hover-background-color);



}

*{
    max-width: 1000px;


    
}
header {
    background-color:hsla(116, 37%, 24%, 0.172);
}

.hero{
    position: relative;
    margin-top: 20px;
}
.hero-trips{
    position: relative;
    margin-top: 20px;
}
.hero div img{

    width: 100%;
    height: auto;
}

div h1{
    position: absolute;
    top: 60px; 
    left: 180px;
    color: white;
    font-size: 3rem;
}


.hero-trips a {
    font-family: var(--heading-font);
    color: black;
    font-size: 4rem;
    position: absolute;
    top: 250px;
    left: 300px;
    padding: 1rem;
    background-color: #036897;
    border-style: double;

}
article{
    position: absolute;
    top: 220px;
    background-color: rgb(166, 121, 74, 0.7);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 1.3rem;
    color: white;
}
article img{
    float: right;
    margin: 20px;
    
}
nav{
    display: flex;
    font-size: 1.5rem; 
    align-items: center;
    justify-content: space-evenly;
}

article h2{
    margin-left: 20px;
    color: white;
    font-size: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.grid img {
    width: 200px;
}

.adventure {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}    

.adventure h2 {
    display: grid;
    grid-row:1/2;
    grid-column: 1/6;
    text-align: center;
}

.figure-adventure {
    display: grid;
    flex-flow: column;
}

.figure1 {
    display: grid;
    grid-row:2/3;
    grid-column:1/2;
}
.figure2 {
    display: grid;
    grid-row:2/3;
    grid-column: 2/3;
}
.figure3 {
    display: grid;
    grid-row:2/3;
    grid-column: 3/4;

}
.figure4 {
    display: grid;
    grid-row:2/3;
    grid-column: 4/5;
}
.figure5 {
    display: grid;
    grid-row:2/3;
    grid-column: 5/6;
}

figure img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}    
figcaption {
    background-color: hsla(116, 37%, 24%, 0.172);
    color: #fff;
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    font-size: 1.1rem;
}
.history {
    background-color: #2b55275f;
    margin: 0;
    padding: 1rem;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr auto;
}
.history h2 {
    display: grid;
    grid-row:1/2;
    grid-column: 1/6;
    text-align: center;
}

footer{    
    padding-top:2rem ;
    background-color:hsla(116, 37%, 24%, 0.172);
    text-align: center;
    padding-bottom: 3rem;
}

footer div{    

    display: grid;
    grid-template-columns: 1fr 200px;
    text-align: center;
}
.sociallinks a {

    margin: 0;
    padding: 0;

}
.people {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.member{
    text-align: center;

}

.member img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.address {
    padding: 5rem 0;
    margin: 1rem 0;
    background-color: #a77a4a24;
    display: flex;
    justify-content: space-evenly
}

iframe {
    width: 250px;
    height: 250px;
}

.member{
    border: 2px solid var(--primary-color);
    border-radius: .7rem;
    width: 230px;

}
.member p {
    text-align: center;
    background-color: #2b552744;
}

form {

    margin: 0 7rem;
    display: grid;
    align-items: center;
}

label, input, button, textarea {
    font-family: 'Roboto', Arial, sans-serif;
}

label {
    text-align: left;
    margin-top: 1rem;
    padding-right: 1rem;
}
.radio {
    margin-top: 1rem;
    text-align: center;
}


input,textarea{
    margin-top: 0.5rem;
    padding: 0.5rem;
    font-size: .9rem;
    font-weight:lighter;
}

button {
    margin: 1.5rem auto;
    background-color:#036897;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    padding: .5rem 2rem;
    font-size: 1rem;
}

.form-item {
    display: grid;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.grid img {
    width: 200px;
}

.trips {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.star {
    background-color: rgba(0, 0, 0, 0.565);
    padding: 0.5rem;
    border-radius: 10%;
}
.trips div{
    border: 2px solid var(--primary-color);
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.reviews {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.reviews div{
    border: 2px solid var(--primary-color);
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.review-text {
    font-style: italic;
}
.reviews img {
    margin: 1rem;
    width: 200px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}
.name {
    font-size: x-large;
    font-weight: bold;

}


.card-footer{
    color: black;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    background-color: #2b55278a;
    border-radius: 0.2rem;
    margin-bottom: 1rem;


    
}

.trips div img{
    margin: rem;
    width: 20vh;
    height: 13vh;
}

.home-hero h1 {
    top: 300px;
}

.center {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.newsletter {
    background-color: #a77a4aab;
    display: grid;
    grid-column: 2/3;
    align-items: center;
}
.trip-options {
    font-size: 1.5rem;
    background-color: #0368979d;
    display: grid;
    grid-column: 1/2;
    align-items: center;
}
.trip-options a {
    font-size: larger;
    font-family: Dosis;
    font-weight: bold;
    background-color: #2B5527;
    color: white;
    text-align: center  ;
    padding: 1rem;
}
.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 0;


}
.grid-item {

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    background-color: #bed927c1;
}
.grid-item img {

    width: 492px;
    flex: 1 0 auto;
}

.trips-title, .review-title {
    font-size: 3rem;
}

.trip-name {
    font-size: 2rem;
    text-align: center;
}

.what {
    font-size: 3rem;
    background-color: #bed927c1;
    margin: 2rem 0 2rem 0;
    padding: 2rem;
}

body {
    background-color: #a77a4a3a;

}

.join {
    top: 110px;
    left: 235px;
}